@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100dvh;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-flash {
  animation: flash 150ms ease-out forwards;
}
